.uni-swiper-tab{
	height: 102upx;
	line-height: 0;
	border-bottom: solid 1px #EEEEEE;
}
.swiper-tab-list{
	width: 50%;
	font-size: 24.17upx;
	color: #818181;
	height: 100upx;
	line-height: 100upx;
}
.swiper-tab-list.active{
	color: #139CFF;
	border-bottom: solid 2px #139CFF;
}
.swiper-box{
	height: calc(100% - 104upx);
}
.list{
	height: 100%;
}
.yhq_item{
	width: 649upx;
	height: 171upx;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
	margin-top:20upx;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30upx;
	box-sizing: border-box;
}
.kyq{
	background-image: url('../../static/wdyhq_kyq.png');
}
.gqq{
	background-image: url('../../static/wdyhq_gqq.png');
}
.yh_money{
	color: white;
	font-size: 72upx;
	padding: 0 0upx;
}
.yh_time{
	color: white;
	font-size: 20upx;
}
.gqq .yh_money,.gqq .yh_time{
	color: #a8a8a8;
}