.uploadCard{
	min-height: 100vh;
}
.cards,.card_item{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card_item{
	margin-top: 20upx;
	margin-bottom: 40upx;
}
.card_z{
	background-image: url('../../static/card_z.png');
}
.card_f{
	background-image: url('../../static/card_f.png');
}
.card_photo{
	background-image: url('../../static/card_photo.png');
}
.card{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.card_img{
	width: 227upx;
	height: 155upx;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.card_title{
	color: #b1b1b1;
	font-size: 24upx;
	margin-top: 20upx;
}
.uni-input{
	border-top: solid 1px #e0e0e0;
	border-bottom: solid 1px #e0e0e0;
	color: #a8a8a8;
	font-size: 24upx;
}
.uni-input:last-child{
	border-top: none;
}
.ipt_pla{
	color: #a8a8a8;
	font-size: 24upx;
}
.next_btn{
	width: 370upx;
	height: 81upx;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 60upx;
	margin-bottom: 50upx;
	font-size: 24upx;
	background: #139CFF;
	color:white;
}